.header {
  width: 100%;
  height: 80px;
  background: #2596be;
  display: flex;
  justify-content: flex-end;
}

.profile_info {
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
